<div style="display: table-row">
  <div class='tttCell topLeft' ng-transclude></div>
  <div class='tttCell topCenter' ng-transclude></div>
  <div class='tttCell topRight' ng-transclude></div>
</div>

<div style="display: table-row">
  <div class='tttCell centerLeft' ng-transclude></div>
  <div class='tttCell center' ng-transclude></div>
  <div class='tttCell centerRight' ng-transclude></div>
</div>

<div style="display: table-row">
  <div class='tttCell bottomLeft' ng-transclude></div>
  <div class='tttCell bottomCenter' ng-transclude></div>
  <div class='tttCell bottomRight' ng-transclude></div>
</div>

