<div style="display: table-row">
  <div class='tttSubCell topLeft'></div>
  <div class='tttSubCell topCenter'></div>
  <div class='tttSubCell topRight'></div>
</div>

<div style="display: table-row">
  <div class='tttSubCell centerLeft'></div>
  <div class='tttSubCell center'></div>
  <div class='tttSubCell centerRight'></div>
</div>

<div style="display: table-row">
  <div class='tttSubCell bottomLeft'></div>
  <div class='tttSubCell bottomCenter'></div>
  <div class='tttSubCell bottomRight'></div>
</div>
